<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block meta_title %}Welcome!{% endblock %}</title>
{% block header %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% endblock %}
<!-- STYLESHEETS -->
{% block stylesheets '' %}
<!-- JAVASCRIPT LIBRARIES -->
{% block header_js '' %}
</head>
<body {% block body_attr '' %}>
{% block body '' %}
<!-- JS -->
{% block javascripts '' %}
</body>
</html>
