{% extends "TugelBundle::layout.html.twig" %}

{% block html_attr 'class="cover"' %}

{% set hideNavbarSearch = true %}

{% block content %}
<div class="cover-wrapper" style="position:absolute; top:0; min-height: 300px;">
	<div class="cover-wrapper-inner">
		<div class="main-search">
			<div>
				<h2>Tugel</h2>
				{% include "TugelBundle::searchForm.html.twig" with {navbar:false} %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
