<style>
	.footer a {
		color: #BBB;
	}
</style>

<div class="jumbotron footer" style="margin-bottom: 0; margin-top: 20px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<p><a href="{#{ path('contact') }#}">Kontakt</a></p>
				<p><a href="{{ path('about') }}">Über uns</a></p>
			</div>
			<div class="col-sm-6">
				<p><a href="{#{ path('legal') }#}">Impressum</a></p>
				<!--
				<p><a href="http://4teachers.de" target="_blank">4teachers</a></p>
				<p><a href="http://lehrerselbstverlag.de" target="_blank">Lehrerselbstverlag</a></p>
				<p><a href="http://f-druck.de" target="_blank">Druckerei Fuck</a></p>
				<p><a href="http://sokrates-freunde.de" target="_blank">Sokrates & Freunde</a></p>
				<p><a href="http://buchpur.de" target="_blank">Buchpur.de</a></p>
				-->
			</div>
		</div>
	</div>
</div>