{% extends "@ZeutzheimPpint/layout.html.twig" %}

{% block content %}
<div class="cover-wrapper">
  <div class="cover-wrapper-inner">
<!-- COVER CONTENT -->
{% block inner_content '' %}
  </div>
</div>
{% endblock %}