{% extends "@ZeutzheimPpint/layout.html.twig" %}

{% block content %}
	<div class="jumbotron header" id="header">
		<div class="container">
			<!-- <img class="jumbotron-image" src="{{ asset('bundles/zeutzheimppint/images/ppint_logo.png') }}"> -->
			<h1>{{ 'home.title'|trans }}</h1>
			{{ 'home.subtitle'|trans|nl2p }}
		</div>
	</div>
{% endblock %}
