{% extends "@ZeutzheimPpint/layout.html.twig" %}

{% block html_attr 'class="cover"' %}

{% block body %}
<div class="cover-wrapper">
  <div class="cover-wrapper-inner">

{% block content '' %}

  </div>
</div>
{% endblock %}